<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/authenticated}">

<head>
    <title layout:fragment="title">Manage Leagues</title>
</head>

<body>
    <div layout:fragment="content" class="app-page">
        <div class="app-page-header">
            <div>
                <h1 class="app-page-title">Manage Leagues</h1>
                <p class="app-page-subtitle">Create new leagues or manage existing ones based on your membership permissions.</p>
            </div>
        </div>

        <div class="app-page-back">
            <a class="btn btn-nav-secondary btn-lg w-100"
               th:href="${groupHubReturnTo != null} ? @{${groupHubReturnTo}} : (${ladderId != null} ? @{/private-groups/{ladderId}(ladderId=${ladderId},seasonId=${seasonId})} : @{/private-groups})">Back</a>
        </div>

        <div th:replace="~{components/createLadderConfigCard :: createLadderConfigCard}"></div>
    </div>
</body>

</html>
